<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">編集する</h1>
    <% @post.errors.full_massages.each do |message| %>
    <div class="form-error">
      <%= message %>
    </div>
    <% end %>
    <%= form_tag("/posts/#{@post.id}/update") do %>
    <div class="form">
      <div class="form-body">
        <input type="text" name="title" placeholder="タイトル" class="form-control" value="<%= @post.title %>">
        <input type="file" name="image_name" class="form-control" value="<% @post.image_name %>">
        <input type="date" name="date" class="form-control" value="<%= @post.date %>">
        <select name="place" class="form-control" value="<%= @post.place %>">
          <%= @post.place %>
          <option value="">エリアを選ぶ</option>
          <option value="<都心エリア>千代田区・中央区・港区"><都心エリア>千代田区・中央区・港区</option>
          <option value="<城東エリア>江東区・墨田区・葛飾区・江戸川区"><城東エリア>江東区・墨田区・葛飾区・江戸川区</option>
          <option value="<上野エリア>台東区・荒川区・足立区"><上野エリア>台東区・荒川区・足立区</option>
          <option value="<池袋エリア>豊島区・文京区・北区・板橋区・練馬区"><池袋エリア>豊島区・文京区・北区・板橋区・練馬区</option>
          <option value="<新宿エリア>新宿区・中野区・杉並区"><新宿エリア>新宿区・中野区・杉並区</option>
          <option value="<渋谷エリア>渋谷区・世田谷区・目黒区"><渋谷エリア>渋谷区・世田谷区・目黒区</option>
          <option value="<品川エリア>品川区・大田区"><品川エリア>品川区・大田区</option>
        </select>
        <select name="category" class="form-control" value="<%= @post.category %>">
          <%= @post.category %>
          <option value="">カテゴリを選ぶ</option>
          <option value="イベント">イベント</option>
          <option value="エンタメ">エンタメ</option>
          <option value="カフェ">カフェ</option>
          <option value="アート">アート</option>
          <option value="リラックス">リラックス</option>
          <option value="その他">その他</option>
        </select>
        <textarea name="content" placeholder="詳細" class="form-control" value = "<%=@post.content%>">
          <%= @post.content %>
        </textarea>
        <input type="submit" value="編集を終える" class="form-control">
　　　　<%= link_to("投稿を削除する", "/posts/#{@post.id}/destroy", {method: "post"}) %>
      </div>
    </div>
    <% end %>
  </div>
</div>
