<div class="main posts-show">
  <div class="container">
    <h6>投稿内容</h5>
    <!-- <div class="posts-show-item">
      <%= @post.title %>
      <%= @post.date %>
      <%= @post.place %>
      <%= @post.content %>
    </div> -->
    <div class="main-item posts-show-item">
      <div class="posts-img">
        <img src="<%= "/posts_images/#{@post.image_name}" %>">
      </div>
      <div class="content">
        <h5><%= @post.title %></h5>
        <p><%= @post.content %></p>
      </div>
    </div>
    <div class="sub-item posts-show-item">
      <i class="fa fa-map-marker" aria-hidden="true"></i><%= @post.place %>
      <i class="fa fa-calendar" aria-hidden="true"></i><%= @post.date %>
      <i class="fa fa-bookmark-o" aria-hidden="true"></i>
      <% if @bookmark == nil %>
      <div class = "btn bookmark-btn"><%=link_to "ブックマーク", "/posts/#{@post.id}/bookmark", {method: :post} %></div>
      <% else %>
      <div class = "btn return-btn"><%=link_to "ユーザトップに戻る", "/user/#{@current_user.id}" %></div>
      <% end %>
    </div>

    <!-- <div class="post-menus">
      <%=link_to "ブックマーク", "/posts/#{@post.id}/bookmark", {method: :post} %>
    </div> -->
    <h6>コメント一覧</h6>
    <% @comments.each do |comment| %>
    <div class="posts-show-item">
      <%= comment.content %>
    </div>
    <% end %>
    <%= form_tag("/comment/#{@post.id}/create") do %>
      <div class="form">
        <div class="form-body">
          <input type="text" name="content" placeholder="コメント内容" class="form-control">
          <input type="submit" value="コメント" class="form-control">
        </div>
      </div>
    <% end %>

  </div>
</div>
