<div class="main posts-show">
  <div class="container">
    <div class="main-item posts-show-item">
      <div class="posts-img">
        <img src="<%= "/posts_images/#{@post.image_name}" %>">
      </div>
      <div class="content">
        <h5><%= @post.title %></h5>
        <p><%= @post.content %></p>
      </div>
    </div>
    <div class ="sub-item posts-show-item">
      <i class="fa fa-map-marker" aria-hidden="true"></i><%= @post.place %></br>
      <i class="fa fa-tag" aria-hidden="true"><%= @post.category %></i></br>
      <i class="fa fa-calendar" aria-hidden="true"></i><%= @post.date %></br>
      <% if @bookmark == nil %>
        <i class="fa fa-bookmark-o" aria-hidden="true"></i><%=link_to "ブックマーク", "/posts/#{@post.id}/bookmark", {method: :post} %></br>
      <% else %>
        <p style="color:#ff0000" >既にブックマークしています</p>
      <div class = "return-btn">
        <%=link_to "ブックマークを取り消す", "/bookmark/#{@bookmark.id}/destroy", {method: :post} %>
      </div>
      <% end %>
        <i class="fa fa-star-o" aria-hidden="true"><%= @review %></i>
    </div>
    <%= form_tag("/posts/#{@post.id}/evaluation", method: "post") do%>
      <div class="form">
        <div class="form-body">
          <input type="submit" value="tripしたい" class="form-control">
          <i class="fa fa-star-o" aria-hidden="true"></i>
          <select name="review" class="form-control">
            <option value="">--</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
          </select>
        </div>
      </div>
    <% end %>
      <h6>コメント一覧</h6>
    <% @comment_user.each do |comment_user| %>
    <% @comments.each do |comment| %>
    <div class="posts-show-item">
      <%= comment_user.user_name %></br>
      <%= comment.content %></br>
      <%= comment.created_at %>
    </div>
    <% end %>
    <% end %>
    <%= form_tag("/comment/#{@post.id}/create") do %>
      <div class="form">
        <div class="form-body">
          <input type="text" name="content" placeholder="コメント内容" class="form-control">
          <input type="submit" value="コメント" class="form-control">
        </div>
      </div>
    <% end %>
  </div>
  </div>
</div>
