<div class="main posts-show">
  <div class="container">
    <div class="main-item posts-show-item">
      <div class="posts-img">
        <% if @post.image_name.present? %>
          <img src="<%= "/posts_images/#{@post.image_name}" %>">
        <% else %>
          <img src = "../no_image_default.jpg">
        <% end %>
      </div>
      <div class="content">
        <h5><%= @post.title %></h5>
        <p><%= simple_format(@post.content) %></p>
        <p><%= link_to @user.user_name, "/user/#{@user.id}" %></p>
      </div>
    </div>
    <div class ="sub-item posts-show-item">
      <li><i class="fa fa-map-marker" aria-hidden="true"></i><%= @post.place %></li>
      <li><i class="fa fa-tag" aria-hidden="true"><%= @post.category %></i></li>
      <li><i class="fa fa-calendar" aria-hidden="true"></i><%= @post.date %></li>
      <% if @bookmark == nil %>
        <li><i class="fa fa-bookmark-o" aria-hidden="true"></i><%=link_to "ブックマークする", "/posts/#{@post.id}/bookmark", {method: :post} %></li>
      <% else %>
        <li><p style="color:#ff0000" >既にブックマークしています</p></li>
      <div class = "btn user-edit-btn">
        <li><%=link_to "ブックマークを取り消す", "/bookmark/#{@bookmark.id}/destroy", {method: :post} %></li>
      </div>
      <% end %>
      <li><i class="fa fa-star-o" aria-hidden="true"><%= @review %></i></li>
      <li><i class="fa fa-users" aria-hidden="true"><%= @count %>人</i></li>
      <% if @current_user.id  == @user.id %>
        <li><%= link_to "投稿を編集する", "/posts/#{@post.id}/edit" %></li>
      <% end %>
    </div>
    <%= form_tag("/posts/#{@post.id}/evaluation", method: "post") do%>
      <div class="form">
        <div class="form-body">
          <input type="submit" value="レビューする" >
          <select name="review" class="form-control" style="width: 100px; float; left;">
            <option value="">--</option>
            <option value="1">☆☆☆☆★</option>
            <option value="2">☆☆☆★★</option>
            <option value="3">☆☆★★★</option>
            <option value="4">☆★★★★</option>
            <option value="5">★★★★★</option>
          </select>
        </div>
      </div>
    <% end %>
      <h6>コメント一覧</h6>
    <% @comment_user.each do |comment_user| %>
    <% @comments.each do |comment| %>
    <div class="posts-show-item">
      <li style="font-size:16px"><%= comment_user.user_name %></li>
      <li><%= comment.content %></li>
      <li style="font-size:16px"><%= comment.created_at %></li>
      <% if @current_user %>
        <li><%= link_to "コメントを削除する", "/comment/#{comment.id}/destroy", method: :post %></li>
      <% end %>
    </div>
    <% end %>
    <% end %>
    <%= form_tag("/comment/#{@post.id}/create") do %>
      <div class="form">
        <div class="form-body">
          <input type="text" name="content" placeholder="コメント内容" class="form-control" style="width: 600px; float: left">
          <input type="submit" value="コメント" >
        </div>
      </div>
    <% end %>
  </div>
  </div>
</div>
