<div class = "user-edit-wrapper">

  <%= form_for @user, :url=>{:action=>'update'} do |f| %>
    <div class = "user-container">
      <div class = "user-name">
        <h2>ユーザ名</h2>
        <%= f.text_field :user_name, @user %>
      </div>
      <div class = "user-post-history">
        <h2>投稿履歴</h2>
        <%= f.text_field :content, @post %>
      </div>
      <div class = "user-comment-history">
        <h2>コメント履歴</h2>
        <%= link_to "削除する", "/comment/#{@comment.ids}", {method: :post} %>
      </div>
    </div>
      <div class = 'edit-btn'>
        <%= f.submit '編集を完了する' %>
      </div>
    <% end %>
</div>
</div>
