<!--編集ページ。画像の投稿と、投稿・コメント履歴は別で実装する。 -->


<div class = "user-top">
  <%= form_for @user, :url=>{:action=>'update'} do |f| %>
  <div class = "user-wrapper">
    <div class = "user-name">
      <p>ユーザ名</p>
      <%= f.text_field :user_name %>
    </div>
    <div class = "user-post">
      <!-- まだ表示だけ、あとで紐付けて 編集できるようにする-->
      <p>投稿履歴</p>
      <%= @post %>
    </div>
    <div class = "user-comment-history">
      <!-- まだ表示だけ、あとで紐付けて 編集できるようにする-->
      <p>コメント履歴</p>
      <%= @comment %>
    </div>
  </div>
  <div class = 'edit-btn'>
    <%= f.submit '編集を完了する' %>
    <% end %>
  </div>
</div>
