<script>
$(function(){
    $('#tab-menu li').on('click', function(){
       if($(this).not('active')){
         // タブメニュー
         $(this).addClass('active').siblings('li').removeClass('active');
         // タブの中身
         var index = $('#tab-menu li').index(this);
         $('#tab-box div').eq(index).addClass('active').siblings('div').removeClass('active');
       }
    });
});
</script>

<div class = "user-show-wrapper user-top-main">

  <div class = "user-container">
    <div class = "user-name">
      <h1><%= @user.user_name %></h1>
    </div>
    <div class = "user-img">
      <% if @user.image_name.present? %>
        <img src="<%= "/user_images/#{@user.image_name}" %>">
      <% else %>
        <img src = "../no_image_default.jpg">
      <% end %>
    </div>
    <% if @current_user.id == @user.id %>
      <div class = "btn user-edit-btn"><%= link_to("編集する", "/user/#{@user.id}/edit") %></div>
    <% end %>
    <ul id="tab-menu">
      <li class="active">投稿したYukuate</li>
      <li>コメントしたYukuate</li>
      <li>ブックマーク</li>
    </ul>

    <div id="tab-box">

        <div class="user-post-history active">
            <% if @post != nil %>
            <% @post.each do |post| %>
            <li><%= link_to post.title, "/posts/#{post.id}" %></li>
            <i class="fa fa-map-marker" aria-hidden="true"></i><%= post.place %></br>
            <i class="fa fa-calendar" aria-hidden="true"></i><%= post.date %>
            <% end %>
          <% else %>
            <p>まだ投稿がありません。Yukuateを投稿しよう。</p>
          <% end %>
        </div>


        <div class = "user-comment-history">
          <% @comment_post.each do |comment_post| %>
            <li><%= link_to comment_post.title, "/posts/#{comment_post.id}" %></li>
            <i class="fa fa-map-marker" aria-hidden="true"></i><%= comment_post.place %></br>
            <i class="fa fa-calendar" aria-hidden="true"></i><%= comment_post.date %>
          <% end %>
        </div>

        <div class = "user-bookmark-history">
          <% if @bookmark %>
            <% @bookmark.each do |bookmark|  %>
            <%= link_to bookmark.title, "/posts/#{bookmark.id}" %></br>
            <i class="fa fa-map-marker" aria-hidden="true"></i><%= bookmark.place %></br>
            <i class="fa fa-calendar" aria-hidden="true"></i><%= bookmark.date %>
            <% end %>
          <% else %>
            <%= puts "まだブックマークはありません。" %>
          <% end %>
        </div>
    </div>
  </div>
 </div>
