<div class = "user-show-wrapper top-main">
  <div class = "user-container">
    <div class = "user-name">
      <h1><%= @user.user_name %></h1>
    </div>
    <div class = "user-img">
      <img src="<%= "/user_images/#{@user.image_name}" %>">
    </div>
    <div class = "user-post-history">
      <h2>投稿したYukuate</h2>
        <% if @post %>
        <% @post.each do |post| %>
        <li><%= link_to post.title, "/posts/#{post.id}/edit" %></li>
        <i class="fa fa-map-marker" aria-hidden="true"></i><%= post.place %></br>
        <i class="fa fa-calendar" aria-hidden="true"></i><%= post.date %>
        <% end %>
      <% else %>
        <p>まだ投稿がありません。Yukuateを投稿しよう。</p>
      <% end %>
    </div>
    <div class = "user-comment-history">
      <h2>コメントしたYukuate</h2>
      <div class = 'comment-btn'>
        <% @comment.each do |comment| %>
        <%= link_to comment.content, "/posts/#{comment.post_id}" %>
        <% end %>
      </div>
    </div>
    <div class = "user-bookmark-history">
      <h2>ブックマークしたYukuate</h2>
      <div class="content-list">
      <% if @bookmark %>
        <% @bookmark.each do |bookmark|  %>
        <%= link_to bookmark.title, "/posts/#{bookmark.id}" %></br>
        <i class="fa fa-map-marker" aria-hidden="true"></i><%= bookmark.place %></br>
        <i class="fa fa-calendar" aria-hidden="true"></i><%= bookmark.date %>
        <% end %>
      <% else %>
        <%= puts "まだブックマークはありません。" %>
      <% end %>
    </div>
    </div>
    <div class = "user-edit-btn"><%= link_to("編集する", "/user/#{@user.id}/edit") %></div>
  </div>
 </div>

 <!-- タブメニュー
 <ul id="tab-menu">
   <li class="active">タブ1</li>
   <li>タブ2</li>
   <li>タブ3</li>
 </ul>

  タブの中身
 <div id="tab-box">
   <div class="active">タブ1の中身</div>
   <div>タブ2の中身</div>
   <div>タブ3の中身</div>
 </div>
 -->
