<!DOCTYPE html>
<html>
  <head>
    <title>hitrip</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
  </head>

  <body>
    <header>
      <div class="header-logo">
        <!-- <a href="/home/top">ひとりっぷ</a> -->
        <%= link_to("Hitrip", "/home/top") %>
      </div>
      <ul class="header-menus">
        <li>
          <!-- <a href="#"></a> -->
        </li>
        <% if @current_user %>
        <li>
        <%= link_to("タイムライン", "/posts/index") %>
        </li>
        <li>
          <!-- <a href="/posts/new"></a> -->
          <%= link_to("Yukuateを投稿する", "/posts/new") %>
        </li>
        <li>
          <%= link_to @current_user.user_name, "/user/#{@current_user.id}" %>
        </li>
        <li>
          <%= link_to('ログアウト', "/logout", {method: :post}) %>
        </li>
        <% else %>
        <li>
          <!-- <a href="/home/about">ひとりっぷとは</a> -->
          <%= link_to("Hitripとは", "/home/about") %>
        </li>
        <li>
          <%= link_to('新規登録', '/user/new') %>
        </li>
        <li >
          <%= link_to 'ログイン', '/user/login_form' %>
        </li>
        <% end %>
      </ul>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
      <%= yield %>

    </body>
</html>
