<!DOCTYPE html>
<html>
<head>
  <title>hitrip</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if session[:user_id] %>
  <%= link_to('ホーム', '/user/home') %>
    <%= link_to('ログアウト', "/user/#{@user.id}/logout", {method: :post}) %>
  <% else %>
    <%= link_to('ホーム', '/user/home') %>
    <%= link_to('新規登録', '/user/new') %>
    <%= link_to 'ログイン', '/user/login_form' %>
  <% end %>
<%= yield %>

</body>
</html>
