<!DOCTYPE html>
<html>
  <head>
    <title>Hitrip (ヒトリップ) | お気に入りのYukuateを探そう</title>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true, :debug => true%>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true, :debug => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
  </head>

  <body>
  <script>
    //マウスオーバーで表示
    $(function() {
        $('#slideR').on('click',function(){
          if ($('#slideR').hasClass('off')){
          $('#slideR').removeClass('off');
          $(this).animate({'marginRight':'220px'},500).addClass('on');
            }else{
          $('#slideR').addClass('off');
          $(this).animate({'marginRight':'0'},500);
        }
      });
    });
      $(document).ready(function(){fit();
        $(window).resize(function(){fit();})
        function fit(){
        var h = $(window).height();
        $('.slide-inner').css("height",h);
        }
      });
    </script>

    <div id="slideR" class="off">
        <div class="slide-inner">
          <i class="fa fa-angle-left fa-3x" aria-hidden="true"></i>
            <li class="header-logo">
              <%= link_to("Hitrip", "/") %>
            </li>
            <ul class="header-menus">
              <li>
                <%= link_to "Hitripとは", about_path %>
              </li>
              <% if @current_user %>
              <li>
              <%= link_to("タイムライン", "/posts/index") %>
              </li>
              <li>
                <!-- <a href="/posts/new"></a> -->
                <%= link_to("Yukuateを投稿", "/posts/new") %>
              </li>
              <li>
                <%= link_to @current_user.user_name, "/user/#{@current_user.id}" %>
              </li>
              <li>
                <%= link_to('ログアウト', "/logout", {method: :post}) %>
              </li>
              <% else %>
              <li>
                <%= link_to('新規登録', '/user/new') %>
              </li>
              <li >
                <%= link_to 'ログイン', '/user/login_form' %>
              </li>
              <% end %>
            </ul>
          </div>
      </div>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
      <%= yield %>

      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </body>
</html>
